@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

/* 
    font-family:"Poppins", sans-serif;
    font-family:"DM Sans", sans-serif;
*/

:root {
    --flesh: #a25136;
    --flesh-border: rgb(255, 142, 93);
    --white: #fff;
    --orange: #ffdd00;
    --black: #171718;
    --orange-dark: rgb(255, 115, 0);
    --grey: #252526;
    
    --text-color: var(--black);
    --header-text: var(--white);
    --accent: var(--orange);
    
    /* Light mode */
    --nav-text: var(--white);
    --page-nav: var(--grey);
    --page-bg: var(--flesh);    
    --text-color: var(--white);
    --strong-text-color: var(--flesh-border);
    --orange-border: var(--flesh-border);
    --footer-bg: var(--grey);
    
    --slider-shadow: 0px 5px 35px rgba(0, 0, 0, 0.689);
    --button-shadow: 0px 5px 35px rgba(255, 255, 255, 0.37);
}

.dark {
    /* Dark mode */
    --nav-text: var(--black);
    --page-nav: var(--accent); 
    --page-bg: var(--grey);
    --text-color: var(--white);
    --strong-text-color: var(--orange);
    --orange-border: var(--orange);
    --footer-bg: var(--black);

    --slider-shadow: 0px 5px 35px rgba(255, 255, 255, 0.37);
    --button-shadow: 0px 5px 35px rgba(0, 0, 0, 0.689);
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;

    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;

    /* Color mode */
    background-color: var(--page-bg);
    color: var(--text-color);
}

/* General */


.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1100px;
    
}   

.third-page, .second-page{
    padding: 70px 0;
    background-color: var(--page-bg);
    
    cursor: default;
}

.title-1 {
    margin-bottom: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--strong-text-color);
    text-align: center;

    text-shadow: var(--button-shadow);
}

.title-1:hover {
    text-shadow: var(--slider-shadow);
    transition: text-shadow 0.1s ease-in-out;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--white);

    text-shadow: var(--button-shadow);
}

.title-2:hover {
    text-shadow: var(--slider-shadow);
    transition: text-shadow 0.1s ease-in-out;
}


/* Navigation */

.nav {
    padding: 20px 0;
    border-bottom: 1px solid  var(--orange-border);
    background-color: var(--page-nav);
    color: var(--header-text);    
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: var(--nav-text);
    font-size: 24px;
    font-family:"Poppins", sans-serif;
    text-decoration: none;
}

.logo:hover {
    text-shadow: var(--button-shadow);
    transition: text-shadow 1s ease-in-out;
}

.logo strong {
    font-weight: 700;
}


.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family:"Poppins", sans-serif;
    list-style-type: none;
    
}

.nav-list__link {
    text-decoration: none;
    color: var(--nav-text);
    transition: opacity 0.2s ease-in;
    
}

.nav-list__link:hover {
    opacity: 0.8;
    text-shadow: var(--button-shadow);
    transition: text-shadow 0.2s ease-in-out;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: 100%;
    
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--nav-text);

}


/* Dark mode button */

.dark-mode-btn {
    order: 9;
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 53px;
    height: 29px;
    padding: 5px;

    border-radius: 50px;
    background-color: var(--strong-text-color);

    cursor: pointer;
    user-select: none;
}

.dark-mode-btn:hover {
    box-shadow: var(--button-shadow);
    transition: box-shadow 0.2s ease-in-out;
}

.dark-mode-btn::before {
    position: absolute;
    top: 1px;
    left: 1.5px;
    
    content: "";
    
    display: block;
    width: 23px;
    height: 23px;
    
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0.9;
    
    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px; 
}

.dark-mode-btn_icon {
    position: relative;
    z-index: 5;
}


/* Header */

.header {
    padding: 40px 0;
    min-height: 695px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--page-bg);
    color: var(--header-text);

    background-image: url('./../../img/projects/Header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    cursor:default;
    
    text-align: center;
}

.header__wrapper {
    padding: 15px 0;
    max-width: 660px;
}


.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--strong-text-color);
    text-shadow: var(--slider-shadow); 
    
}

.header__title em:hover {
    text-shadow: var(--button-shadow); 
    transition: text-shadow 0.1s ease-in-out;
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;    
}

.header__text p + p{
    margin-top: 0.5em;
}

.btn {
    text-decoration: none;
    display: inline-block;
    height: 22px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--strong-text-color);
    color: var(--black);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    box-shadow: var(--slider-shadow);
}

.btn:hover {
    opacity: 2;
    color: var(--white);
    transition: color 0.2s ease-in-out;
    box-shadow: var(--button-shadow);
    transition: box-shadow 0.2s ease-in-out;
}   

.btn:active {
    position: relative;
    top: 1.5px;
}

/* Main */

.main {
    position: relative;
    padding: 0;
}
.main_title {
    position: relative;
    margin-top: 70px; 
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 100px;
    color: var(--white);
    background-color: var(--orange-border);
    margin: 0;
    
    box-shadow: var(--button-shadow);
    
    cursor: default;
    z-index: 5;
}

.section {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;;
    background-color: var(--page-bg );

    user-select: none;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    margin: 100px auto;
    min-width: 800px;
    height: 500px;
    overflow: hidden;    

    box-shadow: var(--slider-shadow);
    border-radius: 10px;

}

.slider_img {
    position: absolute;
    opacity: 0;
}

.slider_img[data-active] {
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
}

.slider_img img {
    display: block;
    width: 600px;
    height: 500px; 
    object-fit: cover;
    object-position: center;
}

.slide_btn {
    height: 500px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: var(--page-bg);
    opacity: 0.6;
    position: absolute;
}

.slide_btn img {
    height: 98px;
}

.slide_btn:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.slide_btn.left {
    left: 0;
}

.slide_btn.right {
    right: 0;
} 


/* Content list */

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
    list-style: none;
}

.content-list a {
    color: var(--white);
}

.content-list_item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list_item p + p {
    margin-top: 0.5em;
}

/* Footer */

.footer {
    margin-top: auto;
    padding: 60px 0 50px;
    background-color: var(--footer-bg);
    color: var(--header-text);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;

}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
    list-style: none;
}

.copywright {
    font-size: 16px;
}

.copywright p + p {
    margin-top: 0.5em;
}


@media (max-width: 640px) {

    body {
        min-width: 800px;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    .nav-row {
        justify-content: space-between;

    }

    .dark-mode-btn {
        order:0;
    }

}


